html {
    height: 100%;
}
  
body {
    font-family: 'Lobster', serif;
    margin-left: 0;
}

ul {
    list-style: none;
}

.container {
    margin: 0 auto;
    max-width: 900px;
    padding: 5rem;
}

.grid {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 5rem;
}